body{
    font-family: 'Nunito', sans-serif;
}

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* ____________Navigation Bar____________ */

nav{
    height: 80px;
    /* background: #2c3e50; */
    background: #7f1518;

    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo{
    color: #fff;
    position: absolute;
    top: 17px;
    left: 12%;
    font-size: 30px;
}

nav ul{
    float: right;
    margin-right: 25px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a{
    position: relative;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1;
    padding: 5px 0;
}

nav ul li a::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: right;
}

label #btn,
label #cancel{
    color: #fff;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 1118px) {
    .logo{
        left: 8%;    
    }
    
}

@media (max-width: 944px) {
    .logo{
        left: 6%;    
        top: 20px;
        width: 130px;
    }
    nav ul li a{
        font-size: 17px;
    }
}

@media (max-width: 860px) {
  label #btn{
      display: block;
  }
  ul{
      padding-top: 200px;
      position: fixed;
      width: 100%;
      height: 100vh;
      /* background: #344953; */
      background: #162125;
      /* background: #c73237; */
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
}
/* ______________first page_____________ */

.main-container{
    height: 100vh;
}

.container-1{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ___________auto typing animation___________ */

.simpleUsage{
    padding-top: 70px;
    font-size: 50px;
    color: #162125;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 500px){
    .simpleUsage{
        font-size: 30px;
    }
}


.container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

/* ______________for blinking text_________________ */

.Aspiring{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.Aspiring{
    animation: blinking 2.5s infinite;
}

@keyframes blinking {
    0%{
        color: #7f1518
    }

    49%{
        color: #7f1518  
    }

    60%{
        color: #7f1518 
    }

    99%{
        color: transparent;
    }
    
    100%{
        color: #7f1518 
    }
}

@media screen and (max-width: 500px){
    .Aspiring{
        font-size: 20px;
    }
}

/* ____________abut me text______________ */

.container-3{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.about-me{
    width: 800px;
    color: #162125;
    font-size: 30px;
    text-align: left;
}

@media screen and (max-width: 500px){
    .about-me{
        font-size: 20px;
        width: 300px;
    }
}

/* ________Download Button________ */

.container-4{
    display: flex;
    justify-content: center;
    align-items: center;
}


.downloadBtn{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 300px;
    text-decoration: none;
    font-size: 30px;
    background: #7f1518;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

.downloadBtn:hover{
    font-size: 40;
    width: 320px;
    color: #7f1518;
    background: gray;
}

@media screen and (max-width: 500px){
    .downloadBtn{
        font-size: 20px;
        width: 200px;
    }
    .downloadBtn:hover{
        width: 220px;
    }
}

/* _____________second page_____________ */

.container-5{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-1{
    text-transform: uppercase;
   font-family: 'Poppins', sans-serif;
   text-align: center;
   color: #7f1518;
   font-size: 30px;
   /* letter-spacing: 1px; */
   /* position: relative; */
}

/* .title-1 h1{
    box-shadow: 0px 1px 5px #7f1518;
} */

.imgContainer{
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* box-shadow: 0px 1px 5px grey; */
    /* border: 1px solid gray; */
    height: 70%;
    width: 80%;
}


.imgbox{
    transform: rotate(-10deg);
    height: 200px;
    width: 300px;
    transition: .5s ease;
}

.imgbox:hover{
    width: 400px;
    height: 300px;
}

img{
    width: 100%;
    height: 100%;
}

.imgbox img{
    box-shadow: 0px 10px 8px grey;
}

@media screen and (max-width: 720px){
    .imgbox{
        height: 170px;
        width: 250px;
        padding: 10px;
    }
    .imgContainer{
        width: 300px;
    }
    .title-1{
        font-size: 20px;
    }
    .imgbox:hover{
        width: 270px;
        height: 190px;
    }
}

.container-6{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.certCon{
    /* padding-top: 100px; */
    /* border: 1px solid #000; */
    flex-wrap: wrap;
    height: 90%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 150px;
}

.certbox{
    height: 250px;
    /* border: 1px solid #7f1518; */
    /* transition: .5s ease; */
}

/* .certbox:hover{
    width: 400px;
    height: 300px;
} */

.certbox img{
    box-shadow: 0px 10px 8px grey;
}

@media screen and (max-width: 720px){
    .certbox{
        height: 130px;
        width: 180px;
        padding: 10px;
    }
    .certCon{
        width: 100%;
        height: 10%;
        margin-bottom: 90px;
    }
    .container-6{
        height: 50%;
    }
}

.container-7{
    height: 10vh;
    background: #7f1518;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box a{
    color: #fff;
    padding: 20px;
}

.container-8{
    height: 10vh;
    background: #7f1518;
    text-align: center;
    color: #d3c8c8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

@media screen and (max-width: 720px){
    .box a{
        color: #fff;
        padding: 5px;
        font-size: 13px;
    }
    .container-8{
        height: 5vh;
        font-size: 12px;
    }
    .container-7{
        height: 5vh;
    }
}

/*---------------------TO TOP BUTTON-----------------*/

.to-top{
    background: #c73237;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-decoration: none;
    color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

@media screen and (max-width: 720px){
    .to-top{
        right: 5px;
        /* bottom: 16px;
        right: 32px; */
    }
}

.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

#toTOP{
    background: #c73237;
}



